<nav>
   <div class="container">
    <div class="brandlogo-menu">
        <div class="logo pointer">
        <img src="../../../../assets/Logo.svg" alt="">
        <h2>Travely</h2>
        </div>
        <!-- <div class="menu">
            
        </div> -->
    </div>
    <div class="login-signup ctas">
        <div class="all-ctas">
            <app-basket-button/>
            <app-trips-button/>
            <span class="cta pointer">Sign</span>
            <span class="cta pointer">Register</span>
        </div>
        <div class="user-profile">
            <span (click)="responsiveMenu()" class="material-symbols-outlined pointer">account_circle</span>
        </div>
    </div>
</div>
</nav>
<div [ngClass]="{'activeMenu' : responsiveMenuActive}" class="menu-small">
    <div class="trips">
        <app-basket-button/>
        <app-trips-button/>
    </div>
    <div class="login">
        <span class="cta pointer">Sign</span>
        <span class="cta pointer">Register</span>
    </div>
</div>