<nav>
   <div class="container">
    <div class="brandlogo-menu">
        <div class="logo pointer">
        <img src="../../../../assets/Logo.svg" alt="">
        <h2>Travely</h2>
        </div>
        <!-- <div class="menu">
            
        </div> -->
    </div>
    <div class="login-signup ctas">
        <div class="all-ctas">
            <app-basket-button/>
            <app-trips-button/>
            <span [routerLink]="['login']" class="cta pointer">Sign</span>
            <span class="cta pointer" [routerLink]="['register']">Register</span>
        </div>
        <div class="user-profile">
           @if(!noUser){
            <span (click)="responsiveMenu()" class="material-symbols-outlined pointer">account_circle</span>
           } @else {
              <span (click)="responsiveMenu()" class="user-cirlce">{{profileInitial()}}
              <div [ngClass]="{'activeLogout' : responsiveMenuLogout}" class="menu ">
                 <span (click)="logout()">Logout</span>
              </div>
            </span>
           }
        </div>
    </div>
</div>
</nav>
<div [ngClass]="{'activeMenu' : responsiveMenuActive}" class="menu-small">
    <div class="trips">
        <app-basket-button/>
        <app-trips-button/>
    </div>
    <div class="login">
        <a [routerLink]="['login']" class="cta pointer">Sign</a>
        <a [routerLink]="['register']" class="cta pointer">Register</a>
    </div>
</div>