<app-navbar/>
<div class="cart">
    <div class="container">
        <div class="cart-items">
            <div class="categories flights">
                <div class="items">
                    <span class="title">Flights</span>
                    <div class="item-card">
                        <span class="trip-type">Round-Trip</span>
                        <span class="destination">
                            <span class="material-symbols-outlined">travel</span> <span class="place">FROM</span>
                            <br>
                            <span class="material-symbols-outlined">travel</span> <span class="place">TO</span>
                        </span>
                        <span class="price">USD 123.00</span>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
            <div class="categories hotels">
                <div class="items">
                    <span class="title">Hotels</span>
                    <span class="destination">
                        <span class="material-symbols-outlined">place</span> <span class="place">PLACE NAME</span>
                    </span>
                    <span class="price">USD 123.00</span>
                    <input type="checkbox" name="" id="">
                </div>
            </div>
            <div class="categories cars">
                <div class="items">
                    <span class="title">Cars</span>
                    <div class="item-card">
                        <span class="destination">
                            <span class="material-symbols-outlined">local_taxi</span> <span class="place">FROM</span>
                        </span>
                        <span class="price">USD 123.00</span>
                        <input type="checkbox" name="" id="">
                    </div>
                </div>
            </div>
        </div>
        <div class="pay">
            <div class="trip">

            </div>
            <span class="pay-button">
                Make Payment
            </span>
        </div>
        </div>
</div>
