<div class="flight-search">
    <div class="container">
        <div class="other-search">
            <ul>
                <li><a [routerLink]="['']">Round Trip</a></li>
                <li><a [routerLink]="['one-way']">One Way</a></li>
                <li><a [routerLink]="['multiple-flights']">Multiple</a></li>
            </ul>
            <span class="flight-classes" >
                <select [(ngModel)]="flightClass" name="" id="">
                    @for (item of flightClasses; track $index) {
                        <option (click)="currentFlightClass(item)" value="" [defaultSelected]="flightClass">{{item}}</option>
                    }
                </select>
            </span>
        </div>
        <div class="search">
            <router-outlet/>
        </div>
    </div>
</div>