<div class="booking-search">
    <div class="container">
        <div class="category-panel slide-panel">
            <ul class="tab">
                <li><a [routerLink]="['']">Flights</a></li>
                <li><a [routerLink]="['hotels']">Hotels</a></li>
                <li><a [routerLink]="['Cars']">Cars</a></li>
                <li><a [routerLink]="['things-to-do']">Things To Do</a></li>
                <div class="line"></div>
            </ul>
        </div>
        <div class="search-field">
            <router-outlet/>
        </div>
    </div>
</div>