<div class="one-way">
    <div class="container">
        <div class="fields to-from">
            <span class="input pointer">
                <span class="material-symbols-outlined">location_on</span>
                <span class="data">Leaving From</span>
            </span>
            <span class="input pointer">
                <span class="material-symbols-outlined">location_on</span>
                <span class="data">Going To</span>
            </span>
            <span class="material-symbols-outlined interchange pointer">sync_alt</span>
        </div>
        <div class="fields">
            <span class="input pointer">
                <span class="material-symbols-outlined">today</span>
                <span class="data">One Day Date</span>
            </span>
            <span class="input pointer">
                <span class="material-symbols-outlined">person</span>
                <span class="data">1 Traveler</span>
            </span>
        </div>
        <span class="submit pointer">Search</span>
    </div>
</div>