<div class="search-airports">
    <div class="main">
        <div class="container">
            <span  (click)="closeButton()" class="material-symbols-outlined close-button">close</span>
            <div class="search-input">
                <input type="text" #inputFeld [placeholder]="placeholder">
            </div>
            <div class="list-of-airport">
               @if (false) {
                <span class="list">
                    <span class="material-symbols-outlined flight">flight</span>
                    <div class="airport-details">
                        <span class="city-code">ACC</span>
                        <span class="city-address">Accra, Ghana.</span>
                    </div>
                </span>
               } @else {
                   <div class="no-search">
                        <span class="material-symbols-outlined search-icon">search</span>
                        <span>Search by city or airport</span>
                   </div>
               } 
            </div>
        </div>
    </div>
</div>