<div class="add-passengers">
    <div class="main">
        <span  (click)="closeButton()" class="material-symbols-outlined close-button">close</span>
        <div class="container">
            <div class="passenger">
                <span>Adult</span>
                <div class="adjust">
                    <span class="material-symbols-outlined  count-button">remove</span>
                    <span class="number">1</span>
                    <span class="material-symbols-outlined count-button">add</span>
                </div>
            </div>
            <div class="passenger">
                <span>Children</span>
                <div class="adjust">
                    <span class="material-symbols-outlined count-button">remove</span>
                    <span class="number">1</span>
                    <span class="material-symbols-outlined count-button">add</span>
                </div>
            </div>
            <div class="passenger">
                <span>Infants</span>
                <div class="adjust">
                    <span class="material-symbols-outlined  count-button">remove</span>
                    <span class="number">1</span>
                    <span class="material-symbols-outlined  count-button">add</span>
                </div>
            </div>
        </div>
    </div>
</div>