<div class="add-passengers">
    <div class="main">
        <span  (click)="closeButton()" class="material-symbols-outlined close-button">close</span>
        <div class="container">
            <div class="passenger">
                <span>Adult</span>
                <div class="adjust">
                    <span (click)="removeTraveler('ADULT')" class=" material-symbols-outlined  count-button">remove</span>
                    <span class="number">{{travelersRecord["ADULT"]?.length || 1}}</span>
                    <span (click)="addTraveler('ADULT')" class="material-symbols-outlined count-button">add</span>
                </div>
            </div>
            <div class="passenger">
                <span>Children</span>
                <div class="adjust">
                    <span (click)="removeTraveler('CHILDREN')" class="material-symbols-outlined count-button">remove</span>
                    <span class="number">{{travelersRecord['CHILDREN']?.length || 0}}</span>
                    <span (click)="addTraveler('CHILDREN')" class="material-symbols-outlined count-button">add</span>
                </div>
            </div>
            <div class="passenger">
                <span>Infants</span>
                <div class="adjust">
                    <span (click)="removeTraveler('INFANTS')" class="material-symbols-outlined  count-button">remove</span>
                    <span class="number">{{travelersRecord['INFANTS']?.length || 0}}</span>
                    <span (click)="addTraveler('INFANTS')" class="material-symbols-outlined  count-button">add</span>
                </div>
            </div>
        </div>
    </div>
</div>